:root {
    --forestGreen: #228B22;
    --teaGreen: #CAE7B9;
}

body {
    margin: 0px;
}

nav {
    background-image: linear-gradient(to left, var(--teaGreen), var(--forestGreen));
    margin: 0px;
}

ul {
    padding: 20px;
    margin: 0px;
}

li {
    display: inline;
}

a {
    padding: 8px;
    color: white;
    text-decoration: none;
}

.box {
    background-color: var(--teaGreen);
}

.large-box {
    background-color: var(--teaGreen);
}